/*
 * CSS for complementary positioning
 * Author: Jacob Gavin;
 * For: Wemen;
*/

.center-container {
    text-align: center;
}

@media (min-width: 767px) {
    #logo-main {
        padding:20px;
    }
}

/*	
	Cart div behaviour defined below
*/

#cart_div {
	z-index:9999;
	position: fixed;
	right: 0;
	padding:10px;
	margin-top:-100px;
}

/*	
	Cart div styling defined below
*/
#cart_div {
	background-color: #fff;
	-webkit-box-shadow: -2px 3px 5px 0px rgba(50, 50, 50, 0.67);
    -moz-box-shadow:    -2px 3px 5px 0px rgba(50, 50, 50, 0.67);
    box-shadow:         -2px 3px 5px 0px rgba(50, 50, 50, 0.67);
}

#cart_div > p {
	color: #000;
}