/*
 * CSS for complementary positioning
 * Author: Jacob Gavin;
 * For: Wemen;
*/


#logo-main {
        padding: 0 0 20px 0;
    }

@media (max-width: 767px) {
    #logo-main {
        padding: 0 0 10px 0;
    }
}

/*	
	Cart div behaviour defined below
*/

#cart_content {
	display: none;
}

#cart_div {
	z-index:2;
	position: fixed;
	right: 0;
	padding:10px;
	top:0;
	min-width:200px;
}

#cart_div > .basket-icon {
	max-height: 40px;
	max-width: 40px;
}

/*	
	Cart div styling defined below
*/
#cart_div {
	background-color: #fff;
	-webkit-box-shadow: -2px 3px 5px 0px rgba(50, 50, 50, 0.67);
    -moz-box-shadow:    -2px 3px 5px 0px rgba(50, 50, 50, 0.67);
    box-shadow:         -2px 3px 5px 0px rgba(50, 50, 50, 0.67);
}

#cart_div > p {
	color: #fff;
}

#basket-arrow-up {
	display: none;
}

#basket-arrow-down {
	display: block;
}